node_modules/
cypress/videos/
cypress/screenshots/
package-lock.json
cloud_auth.json
cucumber-json/cucumber-report.json
cucumber-json/cucumber-messages.ndjson
cucumber-json/cucumber-htmlreport.html/
.env
*.png
*.png
*.png